h1{
   text-align: center;
}
h2{
    text-align: center;
}
p{
    text-align: justify;

}
.image1{
    align-items: center;
    display: flex;
    margin-left: 200px;
}

.quadrado-vermelho{
    position: fixed;
    width:  50px;
    height: 50px;
    left: 1850px;
    background-color: gainsboro;
    background-image: url(IMAGENS/kisspng-youtube-logo-clip-art-logo-youtube-png-5b509f3852b108.1652839715320102963387-removebg-preview.png);
    background-size: cover;
    background-position: center;
    border: none;
    margin-top: 6px;
}


.quadrado-azul{
    position: fixed;
    width:  50px;
    height: 50px;
    left: 1790px;
    background-color:#035efc;
    background-image: url(IMAGENS/twitter_logo_whiteonimage.png);
    background-size: cover;
    background-position: center;
    border: none;
    margin-top: 6px;
}

.quadrado-verde {
    position: fixed;
    width: 50px;
    height: 50px;
    left: 1730px;
    background-color: green;
    background-image: url("IMAGENS/logo-whatsapp-png_optimized.png");
    background-size: cover;
    background-position: center;
    border: none;
    margin-top: 6px;
}

.header {
    background-color: yellowgreen;
    padding: 20px;
    color: #fff;
    text-align: center;
    border-radius: 20px;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

.logo img {
    height: 80px;
    width: auto;
}

.header {
    background-color: aliceblue;
    padding: 20px;
    color: #035efc;
    text-align: center;
    border-radius: 20px;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

.logo-img {
    height: 80px;
    width: auto;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.image-container-img {
    max-width: 100%;
    height: auto;
    margin: 10px;
}

.JO {
    text-align: left;
  }
  
  .PP{
    text-align: center;
  }
  
  .diva{
    left: 10px;
  }

  .divo{
    left: 10px;
  }

  .pudlle{
    text-align: center;
    text-align: justify;
  }

  .querodormir{
    text-align: center;
  }
  
  .h3rdeiro {
    text-align: left;
  }

  .pag1 {
    text-align: center;
  }

  .pag2 {
    text-align: center;
  }

  .pag3 {
    text-align: center;
  }

  .lol {
    text-align: justify;
  }

  .pag4 {
    text-align: center;
     width: 560px;
    height: 315px;  
  }

  .skip {
    text-align: center;
  }
   .skip2 {
    text-align: center;
    width: 40%;
   } 

  .mantive {
   text-align: center;
  }

  .mantive2 {
    width: 3%;
  }

  .stilo {
    text-align: center;
  }

  .pag5 {
    text-align: center;
  }

  .lastpag {
    text-align: center;
  }

  .lastpag2 {
    
  }

  .lastpag3 {
    text-align: center;
  }

  .lastpag4 {
    text-align: center;
  }